@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "HeaderFont";
  src: url("../fonts/Santeria\ Signature.ttf");
}
@font-face {
  font-family: "MonumentRegular";
  src: url(../fonts/regular.otf);
}

/*===== VARIABLES ======*/
:root {
  --bg-dark: #1b1b1b;
  --bg-black: #000;
  --bg-white: #fff;
  --border-color: #707070;

  /* font COLOR */
  --text-color: #fff;
  --second-text-color: #ffffff8f;
  --body-font: "Montserrat", sans-serif;
  --title-font: "MonumentRegular", sans-serif;
  /* font SIZE */
  --biggest-font-size: 9.535999rem; /*min(8vw, 9rem);*/
  --title-font-size: 5rem;
  --title-font-two-size: 5rem;
  --logo-font-size: 2.8rem;
  --normal-font-size: 1.625rem;
  --small-font-size: 1.125rem;
  --smaller-font-size: 0.75rem;
  --contact-font-size: 3.125rem;
  /* font WEIGHT */
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;

  /* TRANSITION */
  --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

  /* BORDER RADIUS */
  --radius: 0.5rem;

  /*======== z index ========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  --header-height: 3.375rem;
}

/* Responsive Typography */
/* @media screen and (max-width: 992px) {
  :root {
    --biggest-font-size: 7.5rem;
    --title-font-size: 3.33rem;
    --title-font-two-size: 2.916rem;
    --logo-font-size: 2.8rem;
    --normal-font-size: 2rem;
    --small-font-size: 1.2rem;
    --smaller-font-size: 1rem;
    --contact-font-size: 2.725rem;
  }
} */

/*================ BASE ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-300);
  background-color: var(--bg-dark);
}

h1,
h2,
h3 {
  font-weight: var(--weight-700);
}

p {
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 100%;
  padding-inline: 3.75rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title {
  font-family: "MonumentRegular", sans-serif;
  font-size: var(--title-font-two-size);
  font-weight: var(--weight-700);
  margin-bottom: 2rem;
  text-align: left;
}

.main {
  overflow: hidden;
}

/*============ Header&Nav ============*/
.header {
  width: 100%;
  background: transparent;
}
.nav {
  padding: 1.8rem 3.75rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.4375rem;
}
.nav__logo {
  font-size: var(--logo-font-size);
  font-family: "HeaderFont";
}
.nav__toggle,
.nav__close {
  font-size: var(--normal-font-size);
  cursor: pointer;
  display: none;
}

/* Nav on mobile device */

.nav__list {
  font-size: min(1.125rem, 1vw);
  display: flex;
  flex-direction: row;
  column-gap: 3.75rem; /*2vw*/
  align-items: center;
  color: #ffffffbd;
}

.nav__link {
  position: relative;
  font-weight: var(--weight-500);
  transition: color 0.4s;
}
/* NAV LINK CONTACT start*/
.nav__link.latest,
.portfolio__link a {
  width: min(11.5rem, 11vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-black);
  padding: min(0.9rem, 0.8vw) min(1.1rem, 0.9vw);
  border-radius: 3.125rem;
  border: 1px solid var(--border-color);
  margin-left: 6.0625rem; /*3vw*/
  transition: 0.5s linear;
}
.nav__link.latest:hover,
.nav__link.latest:focus,
.portfolio__link a:hover,
.portfolio__link a:focus {
  background: #fff;
  color: var(--bg-black);
  filter: drop-shadow(0px 0px 2px #fff);
}
.portfolio__link a:hover,
.portfolio__link a:focus {
  color: black;
  font-weight: 600;
}
.nav__link.latest:hover svg path,
.nav__link.latest:focus svg path,
.portfolio__link a:focus svg path,
.portfolio__link a:hover svg path {
  fill: #000;
}

/* NAV LINK CONTACT end */

.nav__link:hover {
  color: var(--border-color);
}

.nav__close {
  font-size: calc(var(--normal-font-size) + 0.5rem);
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

@media screen and (max-width: 1150px) {
  nav {
    padding-inline: 1rem;
  }
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(240, 1%, 21%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 7rem 3rem;
    transition: right 0.4s;
    font-size: 1rem;
    z-index: 1000;
  }
  .nav__list {
    font-size: 1.125rem;
    flex-direction: column;
    row-gap: 3.5rem;
  }
  .nav__link.latest {
    width: 100%;
    background: transparent;
    border: none;
    margin-left: 0;
  }
  .nav__link.latest:hover {
    background: transparent;
    color: #707070;
    backdrop-filter: none;
  }
  .nav__link.latest svg {
    display: none;
  }
  .nav__toggle,
  .nav__close {
    display: block;
  }
}

/* SHOW MENU */
.show-menu {
  right: 0;
}
/* Blur header */
.blur-header::after {
  content: "";
  width: 100%;
  height: 100%;
  background: hsla(240, 1%, 21%, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s linear;
}

/* HOME */

.home__container {
  padding-inline: 6rem 3.75rem;
  margin-top: 4rem;
  grid-template-columns: 720px 1fr;
}
.home__container img {
  justify-self: end;
  order: 1;
}
.home__container .home__content {
  order: 0;
  align-self: center;
}
.home__container .home__content .home__title {
  margin-bottom: 1rem;
  font-family: "MonumentRegular", sans-serif;
  font-size: var(--biggest-font-size);
  font-weight: bold;
  letter-spacing: -3.5px;
  line-height: 1.2;
}
.home__container .home__content p {
  padding-left: 10.2px;
  font-size: min(1.2275rem, 1.4vw);
  line-height: 2;
  color: #ffffffbd;
}

.home__scroll {
  padding: 15rem 15rem 5rem;
}
.home__scroll a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home__scroll #Group_12 {
  /* font-size: min(4rem, 12vw); */
  position: absolute;
}

.home__scroll #Group_9,
.home__scroll #Group_6 {
  position: absolute;
}
.home__scroll #Group_9 {
  animation: rounded 7s infinite linear;
}
.home__scroll #Group_6 {
  animation: rounded_left 5s infinite linear;
}

@keyframes rounded {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rounded_left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media screen and (max-width: 1024px) {
  .nav__logo {
    font-size: min(2.8rem, 6vw);
  }
  .nav__menu {
    width: 50%;
  }
  .container {
    padding-inline: 1rem;
  }
  .home__container {
    margin-top: 2rem;
    padding-inline: 2rem;
    grid-template-columns: 1fr;
  }
  .home__container img {
    justify-self: center;
    width: 30rem;
  }
  .home__container .home__content {
    text-align: center;
  }
  .home__container .home__content h1 {
    --biggest-font-size: min(6rem, 13vw);
  }
  .home__container .home__content p {
    font-size: min(1.3rem, 3vw);
  }
}

/*================== ABOUT ==================*/

.about__container {
  grid-template-columns: 53fr 57fr;
}

.about__container .about__photo {
  width: fit-content;
  justify-self: center;
  position: relative;
}
.about__container .about__photo .special-before {
  position: absolute;
  z-index: 10;
  top: -58px;
  left: -58px;
}
.about__container .about__photo .special-before svg {
  animation: rounded 5s linear infinite;
}
.about__container .about__photo .special {
  position: absolute;
  z-index: 20;
  top: -10px;
  left: -28px;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
}

.about__container .about__content {
  display: grid;
  font-size: var(--normal-font-size);
}
.about__container .about__content .section__title {
  margin-bottom: -1rem;
}

.about__container .about__content p {
  line-height: 1.5;
}
.about__container .about__content p span {
  font-weight: var(--weight-700);
  font-style: italic;
  color: #fff;
}

.about__container .about__content a {
  font-size: 1.25rem;
  align-self: end;
  transition: 0.2s linear;
}
.about__container .about__content a:hover {
  transform: scale(1.01);
  color: #ffffff8f;
}
.about__container .about__content a svg {
  width: 3rem;
  height: 1.01rem;
}
/* COMPANIES PHOTO */
.companies__photo {
  margin: 12rem 0 7rem;
  place-content: center;
  min-height: 100vh;
}
/*---------------------*/
/*===================== Skills =====================*/

.skills__container {
  padding-inline: 6rem 3.75rem;
}

.skills__container .skills__content {
  display: flex;
  flex-direction: column;
  gap: 7.6875rem;
  min-height: 50vh;
  padding-inline: 3.125rem;
}
.skills__content h1 {
  font-weight: var(--weight-400);
  font-size: 4.375rem;
}
.skills__content h1 span {
  font-weight: 600;
}
.skills__content .skills__photos {
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(3, 1fr);
}
.skills__content .skills__photos .image {
  display: grid;
  place-items: center;
}
.skills__photos .image span {
  font-size: 2.8125rem;
  position: absolute;
  text-align: center;
}
.skills__content .skills__photos .image:last-child img {
  border: 1px solid #fff;
  border-radius: 20px;
}
/* EXPERTISE CONTAINER */
.expertise__container {
  margin-top: 6.5rem;
  min-height: 50vh;
  display: grid;
  row-gap: 5.75rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  padding-inline: 3.125rem 6rem;
}
.expertise__container h1 {
  font-size: 4.375rem;
  font-weight: 400;
}

.expertise__container .expertise__content {
  grid-area: 2 / 2;
  display: flex;
  flex-flow: column;
  gap: 2.0125rem;
}
.expertise__content .expertise__skill {
  display: flex;
  gap: 0.75rem;
  font-size: 2.1875rem;
}

/*======================= REVIEWS =======================*/
.reviews__container {
  padding-inline: 8.125rem;
  gap: 6.9375rem;
}
.reviews {
  padding: 0rem 0 8.5rem;
}
/* CAROUSEL */

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.carousel.carousel-slider {
  top: 0;
  left: 0;
}

.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 1;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 68px;
}

.carousel.carousel-slider .carousel-item {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .carousel-item {
  visibility: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.carousel .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 24px 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.carousel .indicators .indicator-item.active {
  background-color: #fff;
}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.25rem;
}

.carousel {
  width: 1121px;
  height: 373px;
  position: relative;
}
.carousel .carousel-item {
  width: 100%;
  height: 100%;
}
.carousel-item img {
  max-width: 100%;
}
.container1 button {
  border: none;
  background: transparent;
  outline: none;
}
.container1 button:focus {
  background: transparent;
}
/*=============== SELECTED WORKS ===============*/
.selected-works__container {
  padding-inline: 8.125rem 4.625rem;
  gap: 9.13875rem;
}
.selected-works__container .selected-works__content {
  gap: 0;
}
.selected-works__content {
  margin-bottom: 1rem;
}

.selected-works__container .section__description {
  justify-self: end;
  font-size: 1.6875rem;
  font-weight: 400;
}

.selected-works__container .selected-works__list {
  padding-right: 3.9375rem;
  gap: 3.5rem;
}
.selected-works__list .rounded_text {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  margin-right: 1.375rem;
}
.selected-works__list .rounded_text img:nth-child(1) {
  animation: rounded 5s linear infinite;
}
.selected-works__list .rounded_text img:nth-child(2) {
  position: absolute;
}
.selected-works__links .selected-works__item,
.contact__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0rem 2rem 0.4rem;
  border-top: 1px solid #fff;
}

.selected-works__item .selected-works__link a,
.contact__item .contact__link a {
  font-weight: 400;
  font-size: 3.125rem;
}
.selected-works__link a span {
  font-size: 1.25rem;
  margin-left: 0.9rem;
  color: #707070;
}

.portfolio__link {
  justify-self: center;
}

.portfolio__link a {
  font-size: 1.1rem;
  width: fit-content;
  margin-left: 0;
}

.portfolio__link a span {
  display: inline-block;
  margin-left: 1rem;
}
/* COURSES */

.courses {
  padding: 8rem 0;
}
.courses__container {
  padding-left: 8.125rem;
  gap: 4.9375rem;
}
.courses__container .courses__content {
  display: flex;
  gap: 3.25rem;
}
.courses__content .courses__item {
  width: 49.5rem;
  height: 27.875rem;
  background: #000;
  border: 1px solid #fff;
  border-radius: 20px;
  display: grid;
  place-items: center;
  font-size: 3.3125rem;
}

/*===================== CONTACT =====================*/

.contact {
  padding: 8rem 0;
}

.contact__container {
  padding-inline: 8.125rem 12.2125rem;
  gap: 5.625rem;
}
.contact__container .contact__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact__content .contact__item {
  grid-column-start: 2;
}
.contact__content .contact__item:nth-last-child(1) {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

/*==================== FOOTER ====================*/
footer.section {
  padding-bottom: 0;
}
.footer__container {
  background: #434343;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3.01rem 1rem;
}
.footer__container .footer__icons {
  display: flex;
  width: fit-content;
  gap: 1.23875rem;
}
.footer__copywrite {
  font-size: 0.75rem;
}
.footer__icons a svg,
.footer__icons a svg path {
  transition: 0.3s ease-out;
}
.footer__icons a:hover svg path[fill="#fff"],
.footer__icons a:focus svg path[fill="#fff"] {
  fill: #000;
}
.footer__icons a:hover svg,
.footer__icons a:focus svg {
  fill: #ffffff;
  filter: drop-shadow(3px 17px 9px #0d0b0b38);
}

/* .rounded_text {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .about__container img {
  justify-self: center;
  position: relative;
} */

/* 3D Fashion design */
.container .fashion__title {
  text-align: center;
  margin-bottom: 0;
}
.fashion__container {
  padding-inline: 4.75rem 3.3125rem;
  gap: 10rem;
}
.sports__container .imgs {
  position: relative;
  width: 1013px;
  height: 806px;
  background: #434343;
}
.sports__container .imgs img {
  position: absolute;
}
.sports__container .imgs img:nth-child(1) {
  top: 31px;
  left: -35px;
  z-index: 3;
}
.sports__container .imgs img:nth-child(2) {
  left: 277px;
  top: 125px;
  z-index: 2;
}
.sports__container .imgs img:nth-child(3) {
  top: 276px;
  right: 12px;
}
.childs__container .imgs,
.dresses__container .imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1013px;
  height: 806px;
  background: #8f8f8f;
  order: 1;
  filter: grayscale(1);
}
.childs__container .imgs {
  filter: grayscale(0);
}
.childs__container .imgs img:first-child {
  margin: 2rem -7rem 0 0;
}

.dresses__container,
.sports__container {
  grid-template-rows: 1fr;
  grid-template-columns: 6fr 4fr;
  gap: 5.0625rem;
}
.dresses__container,
.childs__container {
  grid-template-columns: 4fr 6fr;
}
.childs__container .content,
.dresses__container .content,
.sports__container .content {
  margin-top: 52px;
}
.childs__container .content .links,
.dresses__container .content .links,
.sports__container .content .links {
  margin: 36px 0 201px 5px;
  max-width: fit-content;
}
.childs__container .content .links a,
.dresses__container .links a,
.sports__container .links a {
  background: var(--bg-black);
  padding: 0.8rem 1rem;
  border-radius: 3.125rem;
  border: 1px solid var(--border-color);
  margin-left: 5px; /*3vw*/
  transition: 0.5s linear;
  display: inline-block;
}
.childs__container .content .links a:focus,
.childs__container .content .links a:hover,
.dresses__container .links a:hover,
.dresses__container .links a:focus,
.sports__container .links a:hover,
.sports__container .links a:focus {
  background: #fff;
  color: var(--bg-black);
  filter: drop-shadow(0px 0px 2px #fff);
  font-weight: 500;
}
.childs__container .content > a,
.dresses__container .content > a,
.sports__container .content > a {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.dresses__container .imgs img:first-child {
  margin-bottom: 17%;
}
.dresses__container .content .section__title {
  font-size: min(4.1rem, 3.2vw);
}
/* CAROUSEL STYLE */
.btns {
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  padding-right: 4rem;
}
.btns .arr {
  position: relative;
  color: white;
}
.btns .arr div {
  cursor: pointer;
  position: absolute;
  width: 35px;
  height: 35px;
  border-top: 6px solid #dedede;
  border-left: 6px solid #dedede;
  top: 35px;
  left: 27.5px;
}
.btns .arr.left div {
  transform: rotate(-45deg);
}
.btns .arr.right div {
  transform: rotate(135deg);
}
